
#myfirst {
    color : blue;
}

#tmp{
    position: absolute;
    right: 0;
}

#tmpText{
    position: absolute;
    right: 25;
}

table{
    width: 80%;
    border: 1px solid black;
    padding: 5px;
    display: auto;
    align-items: center;
}