body{
    /*background-color: #e0f4e1;*/
    background-image: url("./fond.png");
    /*background-repeat: no-repeat;*/
    background-size: 100%;
}

#myfirst {
    color : blue;
}

#tmp{
    position: absolute;
    right: 0;
}

#tmpText{
    position: absolute;
    right: 25;
}

table{
    width: 50%;
    height: 10%;
    /*border: 1px solid black;*/
    /*padding-left: 10px ;
    padding-right: 50px;
    display: auto;
    /*justify-content: center;*/
    /*padding: 5px;
    display: auto;*/
    align-items: center;
    /*justify-content: space-between;*/
}

#boutton{
    /*position: absolute;
    right: 100%;*/
    display: auto;
    align-items: center;
}

#myCanvas{
	background: linear-gradient(to right, rgb(45, 45, 240), rgb(236, 8, 46));
	opacity : 1;
}