body{
    /*background-color: #e0f4e1;*/
    background-image: url("./fond.png");
    /*background-repeat: no-repeat;*/
    background-size: 100%;
}

#myfirst {
    color : blue;
}

#tmp{
    position: absolute;
    top: 39%;
    left: 75%;
}

#tmpText{
    position: absolute;
    right: 25;
}

table{
    width: 50%;
    height: 10%;
    /*border: 1px solid black;*/
    /*padding-left: 10px ;
    padding-right: 50px;
    display: auto;
    /*justify-content: center;*/
    /*padding: 5px;
    display: auto;*/
    align-items: center;
    /*justify-content: space-between;*/
}
td{
    align-items: center;
   /* justify-content: space-between;
    justify-content: center;*/
    text-align: center;
    margin : 30%;
}

#button{
    /*position: absolute;
    right: 100%;*/
    /*border: 1px solid black;*/
   /* justify-content: space-between;*/
    /*justify-content: center;*/
    width: 50%;
    align-items: center;
    padding : 20px;
}

#myCanvas{
	background: linear-gradient(to right, rgb(45, 45, 240), rgb(236, 8, 46));
	opacity : 1;
}

#containerMy_Temp{
    background-color: rgb(184, 85, 85);
    width: 650px;
    margin: auto;
    
}
#containerTcuissons{
    background-color: rgb(190, 61, 190);
    width: 650px;
    margin: auto;
    
}
#padder{
    padding-bottom: 20px;
}

#tps {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

